.v-application {
    font-family: Poppins, "Roboto", sans-serif!important;
    a.v-btn{
        color:$complementary;
        &:before{
            background-color: inherit;
        }
        &--active{
            .v-btn__content{
                text-decoration: underline;
                text-underline-offset: 10px;
            }
        }
    }
    .footer__divider{
        width: 75%;
        margin: 0 auto;
    }
    .v-picker{
        .v-picker__title{
            background-color: $complementary!important;
        }
        .accent{
            background-color: $complementary!important;
        }
        .accent--text{
            color: $complementary!important;
            caret-color: $complementary!important;
        }
    }
    .v-main{
        .container{
            .primary{
                background-color: $complementary!important;
                border-color: $complementary!important;
            }
            .primary--text{
                color: $complementary!important;
                caret-color: $complementary!important;
            }
            .text-page{
                max-width: 80%;
                margin: 0 auto;
                padding: 20px 0 40px 0;
                h1{
                    color: $corporative;
                    font-weight: 300;
                    padding: 15px 0;
                }
                h2{
                    color: $complementary;
                    font-weight: 400;
                    padding: 20px 0;
                }
                p{
                    line-height: 2;
                    padding: 5px 0;
                }
            }
        }
    }
    .v-toolbar {
        .v-toolbar__content{
            margin: 0 60px;
            .v-toolbar__items{
                .v-btn__content{
                    text-transform: none;
                }
            }
        }
    }
    .v-menu__content{
        .v-list{
            .v-list-item__title.active{
                color: $complementary;
                cursor: initial;
            }
        }
    }
    footer.v-footer {
        background-color: white;
        color: $footer-text!important;
        a.v-btn{
            color: $footer-text!important;
        }
        .v-icon{
            color: $footer-text;
            &.mdi-copyright{
                padding-bottom: 4px;
                font-size: 14px;
            }
        }
        .footer-container{
            max-width: 1400px;
            width: 80%;
            margin: 0 auto;
        }
    }
    .width-100{
        width: 100%;
    }
}