.v-application {
    font-family: Poppins, "Roboto", sans-serif!important;
    .row{
        margin: 0px;
    }
    a.v-btn{
        color:$complementary;
        &:before{
            background-color: inherit;
        }
        &--active{
            .v-btn__content{
                text-decoration: underline;
                text-underline-offset: 10px;
            }
        }
    }
    .v-main{
        .container{
            padding: 0px;
            .section{
                margin-bottom: 20px;
                &__container{
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 60px;
                }
                &.home-page__base-image{
                    margin-bottom: 80px;
                }
            }
            .title-img{
                position: relative;
                h1{
                    position: absolute;
                    font-weight: 500;
                    color: white;
                    font-size: 40px;
                    background: linear-gradient(to right, $corporativeWGradient 0%, white 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .search-room{
                &__rooms_list{
                    padding: 10px;
                    &__room{
                        &__image{
                            .v-image__image{
                                box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 10%);
                            }
                        }
                    }
                }
                &__maps{
                    padding-top: 20px;
                    padding-left: 0px;
                    min-height: 500px;
                    &__room.moreThanOne{
                        padding-bottom: 30px;
                    }
                    .gm-style-iw.gm-style-iw-c{
                        padding: 0;
                        .gm-style-iw-d{
                            margin: 0 -18px -15px 0px;
                        }
                    }
                    .v-carousel{
                        &__controls{
                            &__item{
                                color: #5952AB;
                                height: 18px;
                                width: 18px;
                                margin: 0 2px;
                                .v-icon{
                                    font-size: 12px!important;
                                }
                            }
                        }
                        .v-window__next,
                        .v-window__prev{
                            bottom: 15px;
                            top: auto;
                            .v-btn{
                                background-image: -webkit-linear-gradient(63deg,$complementary , $complementaryGradient);
                                &:hover{
                                    background-image: -webkit-linear-gradient(63deg,$complementaryB , $complementaryBGradient);
                                }
                            }
                        }
                        .v-card{
                            box-shadow: none;
                        }
                    }
                }
                .v-card__title{
                    word-break: break-word;
                    font-size: 14px;
                    line-height: 1.5rem;
                }
                .v-card__subtitle{
                    font-size: 12px;
                }
            }
            .home-page{
                .title-img{
                    h1{
                        top: 150px;
                        left: 100px;
                        max-width: 400px;
                    }
                }
                &__base-image{
                    .v-image__image{
                        box-shadow: inset 0 0 0 1000px hsl(0deg 0% 0% / 20%);
                    }
                }
                &__customers-cards{
                    &__img-container{
                        padding: 30px;
                        &__text{
                            max-width: 67%;
                            min-height: 150px;
                            padding-bottom: 15px;
                        }
                    }
                }
            }
            .landlords{
                .title-img{
                    h1{
                        top: 50px;
                        left: 50%;
                        transform: translateX(-50%);
                        max-width: 600px;
                        text-align: center;
                    }
                }
                &__base-image{
                    .v-image__image{
                        box-shadow: inset 0 0 0 1000px hsl(0deg 0% 0% / 20%);
                    }
                }
                &__guarantee{
                    &__items{
                        margin-left: auto;
                        width: 50%;
                        box-shadow: inset 0 0 0 1000px hsl(0deg 0% 100% / 75%);
                        color: #000;
                        font-size: 16px;
                        margin-left: auto;
                        padding: 60px 60px 60px 0px;
                        height: 100%;
                    }
                }
            }
            .v-btn.primary{
                background-image: -webkit-linear-gradient(63deg,$complementary , $complementaryGradient);
                &:hover{
                    background-image: -webkit-linear-gradient(63deg,$complementaryB , $complementaryBGradient);
                }
            }
            .primary{
                background-color: $complementary!important;
                border-color: $complementary!important;
            }
            .primary--text{
                color: $complementary!important;
                caret-color: $complementary!important;
            }
            .text-page{
                margin: 0 auto;
                padding: 20px 0 40px 0;
                h1{
                    color: $corporative;
                    font-weight: 300;
                    padding: 15px 0;
                }
                h2{
                    color: $complementary;
                    font-weight: 400;
                    padding: 20px 0;
                }
                p{
                    line-height: 2;
                    padding: 5px 0;
                }
            }
        }
    }
    .v-toolbar {
        .v-toolbar__content{
            margin: 0 60px;
            .v-toolbar__items{
                .v-btn__content{
                    text-transform: none;
                }
            }
        }
    }
    .v-menu__content{
        .v-list{
            .v-list-item__title.active{
                color: $complementary;
                cursor: initial;
            }
        }
    }.footer__divider{
        width: 75%;
        margin: 0 auto;
    }
    .v-picker{
        .v-picker__title{
            background-color: $complementary!important;
        }
        .accent{
            background-color: $complementary!important;
        }
        .accent--text{
            color: $complementary!important;
            caret-color: $complementary!important;
        }
    }
    footer.v-footer {
        background-color: white;
        color: $footer-text!important;
        a.v-btn{
            color: $footer-text!important;
        }
        .v-icon{
            color: $footer-text;
            &.mdi-copyright{
                padding-bottom: 4px;
                font-size: 14px;
            }
        }
        .footer-container{
            max-width: 1400px;
            width: 80%;
            margin: 0 auto;
        }
    }
    .width-100{
        width: 100%;
    }
}