$corporative: #F7AF82;
$complementary: #5952AB;
$complementaryGradient: #4F7EB8;
$complementaryB: #4C4691;
$complementaryBGradient: #446C9E;
$grey: #D6D6D6;
$greyB: #3c3c3b;
$grey-text: #969696;

$footer-text: $complementary;

$media-lg:1904px;
$media-md:1264px;
$media-sm:960px;
$media-xs:600px;