@media (max-width: $media-sm) {
    .v-application {
        .v-main{
            .container{
                .search-room{
                    &__maps{
                        padding: 20px;
                    }
                }
            }
            .room{
                &__services__service{
                    padding: 10px!important;
                    width: 85px!important;
                    &__image{
                        height: 60px!important;
                    }
                    &__text{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}